* 
  box-sizing: border-box

boby, html
  font-size: 16px

body 
  background: #f2f2f2
  color: $color-text
  +latoRegular
  transition: 0.5s

a 
  color: $color-text
  text-decoration: none

button, input, a, li, ul, textarea
  outline: none
  &:hover
    outline: none
  &:focus
    outline: none

.container
  margin: 0 3% 
  position: relative
.button-main
  background: $color-main
  padding: 15px
  font-size: 1em
  color: #ffffff
.color-main
  color: $color-main

.margin-auto
  margin-right: auto
  margin-left: auto

.dflex
  display: flex

.jcontent-sb
  justify-content: space-between 

.border-main
  border: 1px solid $color-main

.passive
  opacity: 0
  z-index: -1
  transition: .5s ease-in-out
  // transform-origin: center center

.active
  opacity: 1
  z-index: 9
  transition: .5s ease-in-out
  // transform-origin: center center

.text-right
  text-align: right
.text-left 
  text-align: left 
.text-center
  text-align: center
.icon
  font-size: 1.2em
  margin-right: 10px


// HOVER
@media (min-width: 1200px)
  .header-form__button:hover
    background: $color-main
    color: #ffffff
  .header-comparison:hover, .header-bookmarks:hover
    & a
      color: $color-main
    & .header-svg .st0
      fill: none
      stroke: #a50103
      stroke-width: 1.0006
      stroke-miterlimit: 10
  .header-nav__item:hover
    color: #ffffff
    transition: 0.3s
    &:hover:after
      height: 65px 
    .header-catalog
      color: #ffffff
      transition: 0.3s
  .header-nav__item:after
    transition: 0.3s
    content: ""
    z-index: -1
    background: $color-main
    height: 1px
    width: 100%
    display: block
    position: absolute
    bottom: 0
    left: 0
  .header-cart a:hover
    background: $color-main
    border-radius: 50%
    & .header-svg
      fill: #ffffff
      stroke-width: 2.0006
  .header-cart:hover .header-top__link span
      color: #ffffff
  .header-contact__number:hover
    color: $color-main
    text-decoration: underline
    transition: 0.3s
  .header-catalog__box:hover
    .header-catalog__item
      // display: block
      opacity: 1
      transform: scaleY(1)
  .header-catalog__link:hover
    color: $color-main
  .header-catalog__li-active:hover
    .header-catalog__subItem
      opacity: 1
      transform: scaleX(1)

@media (max-width: 1200px)
  boby, html
    font-size: 13px
  .container
    margin: 0
@media (max-width: 992px)
  boby, html
    font-size: 16px
@media (max-width: 786px)
  boby, html
    font-size: 14px
@media (max-width: 546px)
  boby, html
    font-size: 13px

  
