.brands
  &-nav
    flex-direction: column
    margin-bottom: 50px
    &__en
      flex-wrap: wrap
      margin-bottom: 3px
    &__item
      color: #0c85aa
      padding-right: 7px
      margin-bottom: 3px
  &-items 
    flex-direction: column
    &__title
      color: #0c85aa
      font-size: 3em
      margin-bottom: 35px
      margin-top: 10px
    &__box
      flex-direction: row
      flex-wrap: wrap
      width: 100%
      // justify-content: space-between
  &-item 
    flex-direction: column
    padding-left: 7.5px
    padding-right: 7.5px
    // margin-bottom: 50px
    width: 14.2%
    &__imgBox
      width: 100%
      height: 100%
      background: #ffffff
      margin-bottom: 10px
    &__img
      display: block
      width: 100%
      height: 100%
      padding: 20px
      transition: 0.5s
    &__name
      display: block
      transition: 0.5s
      height: 40px


      
  