.catalog
  padding-top: 60px
  padding-bottom: 60px
  &-title__box
    margin-bottom: 50px


.breadcrumbs
  text-transform: uppercase
  align-items: center
  padding-left: 30px
  margin-bottom: 30px
  position: relative
  &__first, &__second
    background: #f2f2f2
    display: block
    padding-right: 15px
    padding-left: 15px
    white-space: nowrap
    font-size: 0.9em
  &:after
    content: ""
    display: block
    height: 1px
    background: #cccccc
    position: absolute
    top: 50%
    left: 0
    width: 100%
    margin-top: -1px
    z-index: -1

.filter 
  background: #fff
  width: 30%
  padding: 30px
  &-title
    border-bottom: 1px solid #ccc
    padding-bottom: 40px
  &__icon
    width: 35px
    height: 35px
    display: block
    margin-right: 30px
  &__title
    font-size: 1.2em
    text-transform: uppercase