@media (min-width: 1200px)
  .catalog
    &-tags
      &__pageMeter:hover
        background: $color-main
        color: #fff
  .filterSecond
    &-touchstone__item:hover
      background: $color-main
      color: #fff
    &-nav__button:hover
      background: #f0f0f0
      color: #000000
      cursor: pointer
  .sort-filter__items_active
    & .sort-filter__option:hover
      background: #f2f2f2
@media (min-width: 1600px)
  .filterSecond
    &-touchstone
      &__item
        &:nth-child(-n+3)
          display: block !important
  .catalog__good
    width: 23%
  .good
    margin-left: 1%
    margin-right: 1%
  .catalog__filter
    max-width: 360px
  .sort-filter
    padding-right: 10px
    padding-left: 7px
    &s
      display: flex
      flex-direction: row
      width: 55%
    &__form
      min-width: 100%
      &:after
        content: ""
        position: absolute
        width: 1px
        height: 140%
        right: -10px
        top: -5px
        background: #cccccc
      & .sort-filter__arrow
        // left: 94% !important
      &-second
        min-width: 35%
        &:after
          content: ""
          position: absolute
          width: 1px
          height: 140%
          left: 40%
          top: -5px
          background: #cccccc
        & .sort-filter__arrow
          // left: 27% !important
    &__items_first
      width: 100% !important
    &__items_second
      width: 35% !important
  .catalog-tags
    padding-top: 7px
@media (min-width: 1400px)
  .sort-filter
    &__form
      width: 45%
      &-second
        width: 15%
        // & .sort-filter__arrow
          // left: 11%
    // &__arrow
      // left: 41%
    &__items
      width: 45%
      &_second
        width: 15%
@media (max-width: 1400px)
    .catalog__good
      width: 32%
@media (max-width: 1200px)
  .catalog
    font-size: 1.2em
    &__good
      width: 48%
      &:last-child
        margin-left: 2%
  .filterSecond
    // height: 45px
    &-activeShowMore
      height: 190px
    &-activeShowAll
      height: auto
  .filter
    &__title
      font-size: 0.8em
    &__icon 
      width: 30px
      height: 30px
  .sort-filter
    &__form
      width: 73%
      &-second
        width: 25%
        // & .sort-filter__arrow
          // left: 18%
    // &__arrow
      // left: 68%
    &__items
      width: 73%
      &_second
        width: 25%
@media (min-width: 992px)
  .good-addition
    position: absolute
    background: white
    width: 100%
    margin-left: -10px
    padding-left: 10px
    box-shadow: -1px 15px 14px 0px #00000087
    z-index: 10
  .catalog__buttonMore
    &:hover 
      color: $color-main
      & svg
        fill: $color-main
  .filter_active
    height: 100%
@media (max-width: 992px)
  .filterSecond
    &-touchstone
      &__item
          &:nth-child(-n+2)
            display: none
          &:nth-child(-n+1)
            display: block !important
@media (max-width: 992px)
  .catalog-box
    flex-direction: column
    height: 100%
  .attributive 
    padding: 0 12px
  .filter
    max-height: 90px
    width: 100%
    padding: 0
    &_active
      min-height: 100% !important
      height: auto !important
      max-height: 5000px !important
    &-title
      padding: 0
      margin-bottom: 35px
      // border-bottom: 0
      width: 100%
      z-index: 3
      padding: 30px
      margin-bottom: 0
    &__title
      margin-right: auto
    &-box 
      padding: 0 30px
    &__button-second
      margin-bottom: 30px
  .sort-filters
    justify-content: flex-start
    flex-direction: column
    width: 50%
  .sort-filter
    &__selected
      min-height: 25px
    &__form
      width: 100%
      &-second
        width: 35%
        // & .sort-filter__arrow
          // left: 18%
    // &__arrow
      // left: 75%
    &__items
      width: 100%
      &_second
        max-height: 133px
        width: 35%
  .catalog
    &-tags
      padding: 0 10px
      padding-top: 7px
      // width: 100%
    &-sort
      align-items: flex-start
    &__good
      font-size: 0.9em
      // max-width: 100%
      width: 46%
      &:last-child
        margin-left: 0
        margin-right: 0 
    &-goods 
      justify-content: space-around
      &__wrap
        padding: 20px 0 20px 0
    &__buttonMore
      display: block
    .good-descAdd
      position: relative
      box-shadow: none !important
      padding: 5px
  .filterSecond
    // height: 50px
    &-activeShowMore
      height: 170px
    &-activeShowAll
      height: auto
@media (max-width: 786px)
  .breadcrumbs
    flex-direction: row
    flex-wrap: wrap 
    line-height: 25px 
    font-size: 1.2em
    &:after
      width: 20%
  .high__title
    padding-left: 20px
    padding-right: 20px
  .catalog-sort
    flex-direction: column
  .sort-filter
    width: 48%
    flex-direction: column
    justify-content: flex-start
    text-align-last: left
    &s 
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      padding: 0 10px
      width: 100%
    &__text
      margin-right: auto
      margin-bottom: 5px
    &__form
      width: 100%
      &-second
        width: 100%
        // & .sort-filter__arrow
          // left: 95%
    // &__arrow
      // left: 95%
    &__items
      width: 100%
      &_second
        width: 100%
        max-height: 123px
    &__selected, &__option
      max-width: 100%
  .catalog-tags
    width: 100%
    justify-content: space-between
    padding: 0 20px
    &__pageMeter
      &-active
        margin-left: auto !important
  .filterSecond
    // height: 50px
    &-activeShowMore
      height: 163px
    &-activeShowAll
      height: auto
  .filter
    // height: 90px
    // padding: 30px 20px
    // &_active
      // height: 100%
    &-title
      // margin-bottom: 30px
      padding: 30px 20px
      border-bottom: 0
    &-box 
      padding: 0px 20px
  .good .tdslide-icons
    top: 9%
@media (max-width: 546px)
  .catalog
    &__good
      max-width: 100%
      width: 90%
      &:last-child
        margin-right: 0
  // .filterSecond
  //   display: none !important
  .filter
    // height: 90px
    // padding: 30px 20px
    // &_active
    //   height: 100%
    &-title
      // padding: 0 0 30px 0
      border-bottom: 0
    &__title
      font-size: 1em
  .sort
    &-filter
      flex-wrap: wrap
      width: 100%
      padding: 10px 10px 0 10px
      font-size: 1.2em
      margin-bottom: 5px
      &s
        flex-direction: column
        margin-bottom: 20px
      &__text
        margin-bottom: 5px
      &__form
        margin-bottom: 0
        width: 100%
      &__items_second
        max-height: 128px
    &-select 
      width: 100%
  .catalog-tags
    flex-wrap: wrap
    align-items: flex-start
    flex-direction: column
    font-size: 1.2em
    &__text
      display: flex
      width: 100%
      margin-right: 100%
      flex-wrap: wrap
    &__tag
      padding-left: 0
    &__pageMeter
      &-active
        margin-left: 0 !important
  .catalog-tags__pageMeters
    width: 100%
    display: flex
    margin-right: 100%
    margin-top: 10px
  // .good
  //   &-img 
  //     padding-top: 50px
  //     padding-bottom: 50px
  .filterSecond
    flex-direction: column
    &-touchstone
      justify-content: center
      &__item
        max-height: 100px 
        text-align: center
    &-nav 
      align-items: center
      &__button
        justify-content: center
        width: 80%
        & svg 
          margin-left: 15px
  .good .tdslide-icons
    top: 13%

    