.compare
  margin-bottom: 50px
  font-size: 1.1em
  &-no 
    display: none
  &-box 
    margin-top: 70px
    display: flex
  &-list
    background: #ffffff
    flex-direction: column
    flex-wrap: nowrap
    max-width: 230px
    min-width: 230px
    // width: 20%
    margin-right: 2px
    padding-bottom: 50px
    &__box-1
      padding-top: 25px
      padding-left: 30px
      padding-bottom: 15px
      border-bottom: 2px solid $color-main
      flex-direction: column
      height:  295px
    &__value
      display: flex
      align-items: center
      &-icon 
        width: 35px
        height: 35px
        margin-right: 10px
    &__clean
      display: flex
      align-items: center
      cursor: pointer
      &-icon 
        width: 16px
        height: 22px
        margin-right: 10px
    &__box-2
      padding-top: 20px
      padding-bottom: 15px
      flex-direction: column
      font-size: 1.1em
    &__lable
      display: flex
      align-items: center
      text-transform: uppercase
      font-size: 0.7em
      padding-left: 30px
      // padding-top: 12px
      // padding-bottom: 12px
      min-height: 37px
      &:nth-child(2n)
        background: lighten(#cccccc, 17%)
    &__desc
      height: 80px
      display: flex
      align-items: center
    &__name
      height: 75px
  &-item
    background: #ffffff
    flex-direction: column
    flex-wrap: nowrap
    // max-width: 230px
    width: 24%
    margin-right: 2px
    padding-bottom: 50px
    &__box-1
      height:  295px
      position: relative
      padding: 20px 15px
      border-bottom: 2px solid $color-main
    &__image
      width: 100%
    &__img  
      display: block
      width: 100%
      height: auto
      max-height: 100%
    &__name
      display: inline-block
      margin: 0
      padding-left: 30px
      padding-bottom: 20px
      text-align: left
      font-weight: normal
      height: 55px
      cursor: pointer
    &__lable
      display: inline-block
      text-align: center
      text-transform: none  
      font-size: 0.7em
      // padding-top: 12px
      // padding-bottom: 12px
      line-height: 37px
      height: 37px
      &:nth-child(2n)
        background: lighten(#cccccc, 17%)
      &-price 
        font-size: 1.2em
        vertical-align: middle
        & sup
          display: inline-block
          font-size: 0.6em
          line-height: 0.6em
          text-transform: none
          color: $color-text
          font-weight: normal
    &__desc
      display: inline-block
      height: 80px
      line-height: 1.2
      align-items: center
      display: flex
      text-align: left
      padding-left: 20px
    &__more
      display: none
      font-size: 1.4em
      background: $color-main
      color: #ffffff
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      cursor: pointer
      &-passive
        font-size: 0.8em
        position: relative
    &__buttons
      display: none
      justify-content: space-between
      width: 100%
      position: absolute
      bottom: 0
      left: 0
      height: 40px
      border: 1px solid $color-main
    &__buy
      cursor: pointer
      height: 40px
      background: #ffffff
      font-size: 0.9em
      width: 35%
    &__click
      cursor: pointer
      height: 40px
      font-size: 0.9em
      width: 65%
      padding: 0
    &__icons
      position: absolute
      left: 0
      top: 30%
    &__icon
      display: flex
      align-items: center
      &-img 
        width: 46px
        height: 46px
        padding: 7px
        background: $color-main
        cursor: pointer
      &-desc 
        display: none
        align-items: center
        text-align: center
        color: #ffffff
        height: 46px
        width: 160px
        background: #a5010394
        justify-content: center
        cursor: pointer
      &-bookmarks
        margin-bottom: 10px
        visibility: hidden
      // &__bookmarks
      //   display: none
  &-slider
    width: 100%
    &__box
      height: 100%
      width: calc(100% - 230px)
      position: relative
      // overflow: hidden
    &__buttons
      position: absolute
      top: -65px
      right: 0px
      & .slick-disabled
        background: #ffffff !important
        opacity: 0.5 !important
    &__button
      background: #ffffff
      &:last-child
        margin-left: 10px


.slick-slide
  outline: none





// HOVER
.compare-item:hover
  .compare-item__buttons
    display: flex
  .compare-item__more
    display: inline-block
  .compare-item__icon-bookmarks
    visibility: visible
.compare-item__icon:hover
  .compare-item__icon-desc
    display: flex



@media (min-width:1400px)
  .compare
    &-list
      max-width: 290px
      min-width: 290px
    &-slider__box 
      width: calc(100% - 290px)
@media (max-width:1200px)
  .compare
    &-list
      min-width: 190px
      max-width: 190px
    &-slider__box
      width: calc(100% - 190px)
@media (max-width:997px)
  .compare
    &-list
      min-width: 180px
      max-width: 180px
      &__lable
        font-size: 0.65em
    &-item 
      &__name
        font-size: 0.9em
    &-slider__box
      width: calc(100% - 180px)
    &-slider
      &__buttons
        top: -45px
@media (max-width:786px)
  .compare
    &-list
      min-width: 140px
      max-width: 140px
      &__lable, &__name
        padding-left: 10px
        line-height: 12px
        display: flex
        align-items: center
      &__box-1
        height: 250px
        padding-left: 10px
      &__value
        display: flex
        flex-direction: column
        align-items: flex-start
    &-slider__box
      width: calc(100% - 140px)
    &-item 
      &__box-1
        height: 250px
      &__name
        padding-left: 10px
@media (max-width:546px)
  .compare
    &-list
      min-width: 120px
      max-width: 120px
      &__lable
        font-size: 0.6em
    &-slider__box
      width: calc(100% - 120px)



      