.tdslider
	width: 100%
	min-height: 650px
	margin-bottom: 30px
	overflow-x: hidden
	overflow-y: visible
	position: relative
	&-wrapper
		height: 100%
		position: relative
		top: 0
		left: 0
		// transition: all 1.2s

.remove
	display: none
.tdslide
	position: relative
	float: left
	margin: 0px 10px
	padding: 5px
	height: 100%
	background-color: #fff
	&:hover .tdslide-wrapper
		box-shadow: 0 0 14px black
	&-discount
		position: absolute
		font-size: 16px
		width: 76px
		height: 40px
		top: 15px
		left: 15px
		background-image: url(../img/discount.png)
		background-repeat: no-repeat
		background-position: 0 0
		background-size: 100%
		color: #ffffff
		&__value
			display: inline-block
			padding: 8px
	&-wrapper
		display: flex
		flex-direction: column
	&-mobbuton
		background-color: #eaeaea
		width: 50%
		margin-left: auto
		margin-right: auto
		height: 40px
		font-size: 1.1em
	&-mobbutons
		display: none
		position: relative
		padding: 20px 0px 10px 0px
		&-line
			height: 2px
			width: 100%
			background-color: $color-main
			margin-bottom: 30px
		&-icons
			position: absolute
			width: 40px
			height: 40px
			border-radius: 50%
			left: 50%
			margin-left: -20px
			top: 0
			background-color: $color-main
			& svg
				width: 45%
				fill: #fff
				stroke: #fff
	&-icons
		position: absolute
		top: 100px
		left: 5px
		height: 120px
		justify-content: space-between
		display: flex
		flex-direction: column
	&-icon
		height: 50px
		&-2
			display: none
			background-color: rgba(167, 1, 3, .7)
			width: 170px
			color: #fff
			height: 50px
			font-size: 0.9em
			&:hover
				display: flex
		&-1
			background-color: $color-main
			height: 50px
			width: 50px
			& svg
				width: 35px
				height: 35px
		&Remove 
			display: none
		&:last-child
			margin-top: auto
	&-img
		display: flex
		align-items: center
		height: 100%
		min-height: 19em
		margin: 15px 0 !important
		background-color: #fff
		& img
			max-width: 90%
			width: auto
			display: inline
			max-height: 19em
			height: auto
			margin-left: auto
			margin-right: auto
	&-line
		position: relative
		height: 1px
		width: 100%
		background-color: $color-main
	&-details
		padding: 20px 10px 10px 10px
	&-title
		font-size: 1.2em
		margin-bottom: 30px
	& li
		list-style-type: none
		min-height: 25px
		margin: 10px 0
	& ul
		margin-left: 0
		padding-left: 0
	&-buttons
		margin-bottom: 25px
	&-desc
		&-addition
			height: 0
			overflow: hidden
			// transition: all 0.5s
	&-buybuttons
		display: none
		position: absolute
		width: 100%
		bottom: -2px


.more-button, .tdslide-onclick-button
	display: none
	background-color: $color-main
	width: 100%
	height: 50px
	color: #fff

.tdslide-onclick-button
	width: 60%
	display: flex

.tdslide-buy-button
	width: 40%
	height: 50px
	color: $color-main
	border: 2px solid $color-main
	background-color: #fff

.instock-button
	width: 100%
	height: 50px
	color: $color-main
	background-color: #eaeaea

.label
	width: 55%
	display: inline-block
	vertical-align: top

.value
	display: inline-block
	color: #000
	font-weight: 400
	&-price
		color: $color-main

.tdslide-mobbutons-icons__close
	display: none

// .tdslide-icons
// 	top: 20%